@model ResturantApplication.Models.Items
@{
    ViewBag.Title = "Product Details";
    
}

<h2>Items Details</h2>
<h2>Product  Id: @Model.Id</h2>
<h2>Product Name: @Model.Names</h2>
<h2>Product Price @Model.ItemPrice</h2>



